In [1]:
import pandas as pd
df = pd.read_csv('ATP.csv')

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,5,6,7,8,9,12,14,15,16,17,18,19,22,24,25,26,28,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,1968-580,Australian Chps.,Grass,64,G,19680119,1,110023,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-580,Australian Chps.,Grass,64,G,19680119,2,109803,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-580,Australian Chps.,Grass,64,G,19680119,3,100257,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-580,Australian Chps.,Grass,64,G,19680119,4,100105,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-580,Australian Chps.,Grass,64,G,19680119,5,109966,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Most majors
gs_winner_df = df[(df['tourney_level'] == 'G') & (df['round'] == 'F')]
grouped = gs_winner_df.groupby('winner_name').count().sort_values('winner_id', ascending= False).ix[:,0]
grouped

winner_name
Roger Federer            18
Rafael Nadal             14
Pete Sampras             14
Novak Djokovic           12
Bjorn Borg               11
Ivan Lendl                8
Andre Agassi              8
Jimmy Connors             8
Mats Wilander             7
John Mcenroe              7
Stefan Edberg             6
Boris Becker              6
John Newcombe             5
Rod Laver                 5
Jim Courier               4
Ken Rosewall              4
Guillermo Vilas           4
Gustavo Kuerten           3
Jan Kodes                 3
Arthur Ashe               3
Andy Murray               3
Stanislas Wawrinka        3
Patrick Rafter            2
Lleyton Hewitt            2
Sergi Bruguera            2
Stan Smith                2
Marat Safin               2
Yevgeny Kafelnikov        2
Johan Kriek               2
Ilie Nastase              2
Albert Costa              1
Richard Krajicek          1
Yannick Noah              1
Thomas Muster             1
Thomas Johansson          1
Andres Gimeno             1
Andres Gomez              1
Andy Roddick              1
Bill Bowrey               1
Roscoe Tanner             1
Brian Teacher             1
Carlos Moya               1
Gaston Gaudio             1
Manuel Orantes            1
Petr Korda                1
Goran Ivanisevic          1
Pat Cash                  1
Michael Stich             1
Michael Chang             1
Juan Carlos Ferrero       1
Mark Edmondson            1
Marin Cilic               1
Juan Martin Del Potro     1
Adriano Panatta           1
Name: tourney_id, dtype: int64

In [103]:
# List of all players in the data
winner_names = df[['winner_name','winner_id']].drop_duplicates().set_index('winner_id')
loser_names = df[['loser_name','loser_id']].drop_duplicates().rename(index=str, columns={"loser_name": "winner_name", "loser_id": "winner_id"}).set_index('winner_id')

In [107]:
player_unique_list = pd.concat([winner_names, loser_names]).drop_duplicates()

In [108]:
player_unique_list[player_unique_list['winner_name'] == 'Roger Federer']

             winner_name
winner_id
103819     Roger Federer

In [109]:
player_unique_list

                     winner_name
winner_id
110023         Richard Coulthard
109803                John Brown
100257                 Ross Case
100105               Allan Stone
109966            Warren Jacques
107759               Max Pettman
100101               Mike Belkin
100025      Barry Phillips Moore
108519           William Coghlan
109799             Geoff Pollard
100146            Jun Kamiwazumi
100180                Bill Lloyd
100013              Neale Fraser
110034                 Merv Guse
100174            Manuel Orantes
100114               Ray Ruffels
106853               David Smith
109775             Robert Wilson
110039          Sutarjo Sugiarto
100203                 Phil Dent
100053               Colin Stubs
107383               John Fraser
100106           Graham Stilwell
100090               Dick Crealy
100169              Ian Fletcher
100110             Terry Addison
100149             Toshiro Sakai
100111                Ray Keldie
109742            Berry Geraghty
109804                 Rod Brent
...                          ...
126689             Tadas Babelis
202219               Tomas Vaise
134507             Tom Diederich
144747        Courtney John Lock
144814                 Eero Vasa
105775            Marin Draganja
111576               Sumit Nagal
122471       Danylo Kalenichenko
127300          Djurabek Karimov
105551               Anil Yuksel
106331      Christopher Oconnell
106425                Blake Mott
200572                Nick Hardt
122635          Alexander Merino
117353              Duck Hee Lee
126952             Soon Woo Kwon
200075               Yshai Oliel
131951          Daniel Cukierman
132040      Philip Wilbert Major
106180            Spencer Newman
132028               Justin Lunn
200045           Anthony Susanto
124023         Hei Yin Andrew Li
144940            Mattias Siimar
200325           Emil Ruusuvuori
145003     Lucas Andriamasilalao
105798              Tilen Zitnik
202212       Mohamed Aziz Dougaz
144949       Menelaos Efstathiou
123315         Nicholas Campbell

[5654 rows x 1 columns]